<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <main>
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="imgPadding" src="../images/Adventure.jpg" alt="logo" class="w3-image" width="100%" height="auto">

          <div class="container">
            <div class="carousel-caption">
              <h1>Get ready for your next adventure!</h1>
              <p>Find the best deals on high-quality hiking gear and apparel at our outdoor ecommerce store.</p>
              <p><a class="btn btn-lg btn-primary" href="men">Shop Now</a></p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img class="imgPadding" src="../images/Camping.jpg" alt="logo" class="w3-image" width="100%" height="auto">

          <div class="container">
            <div class="carousel-caption">
              <h1>Camp in comfort with our top-of-the-line gear.</h1>
              <p>From tents to sleeping bags to cookware, we've got everything you need for a successful camping trip.</p>
              <p><a class="btn btn-lg btn-primary" href="#redirect">Shop Now</a></p>
            </div>
          </div>
        </div>
      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <br>
    <br>
    <h1 style="text-align: center;" id="redirect">Check out our camping gear</h1>
<hr class="featurette-divider">
<div class="container">
  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary-emphasis">Camping Gear</strong>
          <div class="mb-1 text-primary-emphasis">New!</div>
          <h3 class="mb-0">Tent</h3>
          <p class="card-text mb-auto">This is a wider and spacious tent for 3 people, perfect for your camping trips!</p>
          <a href="https://square.link/u/ukS5PlMP" target="_blank" class="icon-link gap-1 icon-link-hover stretched-link">Buy Now</a>
        </div>
        <div class="col-auto d-flex align-items-center">
          <img class="img-fluid imgPadding" src="../images/tent.png" alt="logo" class="w3-image">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success-emphasis">Outdoor Living</strong>
          <div class="mb-1 text-primary-emphasis">New!</div>
          <h3 class="mb-0">Camping Kitchen</h3>
          <p class="mb-auto">Inside this tiny box is everything you will need to cook dinner for you and your friends!</p>
          <a href="https://square.link/u/VuSUBqMa" target="_blank" class="icon-link gap-1 icon-link-hover stretched-link">Buy Now</a>
        </div>
        <div class="col-auto d-flex align-items-center">
          <img class="img-fluid imgPadding" src="../images/kitchen.png" alt="logo" class="w3-image">
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary-emphasis">Outdoor Living</strong>
          <h3 class="mb-0">Sleeping Bags</h3>
          <p class="card-text mb-auto">Our all season Sleeping Bags are designed for 35-50 Degrees Fahrenheit, weather-resistant design to keep you warm even in extreme conditions.</p>
          <a href="https://square.link/u/fjeBwtl4" target="_blank" class="icon-link gap-1 icon-link-hover stretched-link"> Shop Now </a>
        </div>
        <div class="col-auto d-flex align-items-center">
          <img class="img-fluid imgPadding" src="../images/sleepingBag.png" alt="logo" class="w3-image">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success-emphasis">Outdoor Living</strong>
          <div class="mb-1 text-primary-emphasis">New!</div>
          <h3 class="mb-0">Double Sleeping Bag</h3>
          <p class="mb-auto">Warmth, coziness and an enveloping hug, what else can you want while you are missing your bed the most!</p>
          <a href="https://square.link/u/ZWm1shW9" target="_blank" class="icon-link gap-1 icon-link-hover stretched-link">Buy Now</a>
        </div>
        <div class="col-auto d-flex align-items-center">
          <img class="img-fluid imgPadding" src="../images/futon.png" alt="logo" class="w3-image">
        </div>
      </div>
    </div>
  </div>
</div>


    <br>
    <br>
    <h1 style="text-align: center;">Discover inspiration!</h1>
    <p style="text-align: center;">Explore our Stories section for weekly outdoor living suggestions. Get creative and embark on your adventure now!</p>
    
    <div class="container">
      <hr class="featurette-divider">
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading fw-normal lh-1">Shop for Your Next Outdoor Adventure with Family. <span class="text-muted">Everything You Need for an Unforgettable Experience.</span></h2>
          <p class="lead">At our outdoor ecommerce store, we offer a wide selection of gear and equipment for your next family adventure. From hiking and camping gear to outdoor apparel and accessories, we have everything you need to make your next trip a memorable one. Whether you're planning a weekend camping trip or a multi-day hiking expedition, our store has the products and expertise to help you make the most of your outdoor experience with your loved ones. Browse our selection today and start planning your next adventure!</p>
        </div>
        <div class="col-md-5 order-md-1 align-self-center">
          <div class="text-center">
          <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid" src="../images/Family.jpg" width="500" height="500" alt="logo" >
          </div>
        </div>
      </div>
    
      <hr class="featurette-divider">
    
      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading fw-normal lh-1">Find Inspiration, Expert Advice, and More. <span class="text-muted">Check our Blog</span></h2>
          <p class="lead">At Outdoorways, we're passionate about helping people connect with nature and make the most of their time outside. Our website offers a wealth of resources to help you plan your next adventure, including articles on outdoor activities, expert advice on gear and equipment, and community forums where you can connect with other outdoor enthusiasts. We also offer a wide selection of products to help you get the most out of your outdoor experience, from hiking and camping gear to outdoor apparel and accessories. Whether you're a seasoned outdoor adventurer or just starting to explore, our website has everything you need to make your time outside more enjoyable and memorable. Explore our site today and discover all the ways we can help you connect with the great outdoors.</p>
        </div>
        <div class="col-md-5 order-md-1 align-self-center">
          <div class="text-center">
            <img src="../images/Inspired.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid" width="500" height="500" alt="Outdoor Inspiration">
          </div>
        </div>
      </div>
    </div>
    
  </main>
  <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
</body>


<style>
  /* GLOBAL STYLES */
  body {
    padding-bottom: 3rem;
    color: #5a5a5a;
  }

  /* CUSTOMIZE THE CAROUSEL */
  .carousel {
    margin-bottom: 4rem;
  }

  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }

  .carousel-item {
    height: 32rem;
  }

  /* MARKETING CONTENT */
  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }

  /* FEATURETTES */
  .featurette-divider {
    margin: 5rem 0;
  }

  .featurette-heading {
    letter-spacing: -.05rem;
  }

  /* RESPONSIVE CSS */
  @media (min-width: 40em) {
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }

    .featurette-heading {
      font-size: 50px;
    }
  }

  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }

  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='currentColor'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 6h16M4 12h16m-7 6h7'/%3E%3C/svg%3E");
}

</style>
