<nav class="all size fixed-bottom navbar-expand-lg bg-body-tertiary navbar bg-info navbar-expand-lg">
    <div class=" container-fluid">        
        <p1 class="footerText">
          <span class="span textColor" >©️ Copyright Outdoorways 2023</span>
        </p1>      
  </div>
  </nav>


  <style>
    .all
    {
      background-color: beige;
    }

    .textColor
    {
        color: beige;
    }
  </style>